---
import Hero from "@/components/sections/hero.astro";
import RootLayout from "@/layouts/root-layout.astro";
import Metrics from "@/components/sections/metrics.astro";
import FeaturedProjects from "@/components/sections/featured-projects.astro";
import Features from "@/components/sections/features.astro";
import Process from "@/components/sections/process.astro";
---

<RootLayout>
	<main>
		<Hero />
		<Metrics />
		<FeaturedProjects />
		<div class="bg-indigo-50/50">
			<Features />
		</div>
		<div class="bg-indigo-50/50-">
			<Process />
		</div>
	</main>
</RootLayout>
