---
import HeroSection from "@/components/sections/hero-section.astro";
import RootLayout from "@/layouts/root-layout.astro";
import MetricsSection from "@/components/sections/metrics-section.astro";
import FeaturedProjects from "@/components/sections/featured-projects.astro";
import FeaturesSection from "@/components/sections/features-section.astro";
import ProcessSection from "@/components/sections/process-section.astro";
---

<RootLayout>
	<main>
		<HeroSection />
		<MetricsSection />
		<FeaturedProjects />
		<FeaturesSection />
		<ProcessSection />
	</main>
</RootLayout>
